<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>CheckOut</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/landing_page/app/css/payments.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="../public/landing_page/app/js/paymentScript.js" defer></script>
</head>

<body align="center">
    <div class="row" style="margin-top: 0.5%;margin-left: 0.1%;">
        <div class="col-md-2 text-center mx-auto">
            <button onclick="moveToCart()" class="btn btn-primary">Cart</button>
        </div>
        <div class="col-md-10 text-center mx-auto">
        </div>
    </div>
    <br> <br>
    <h1 class="text-primary text-center mx-auto">CheckOut Items</h1>

    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <th class="text-center">Item Name</th>
                <th class="text-center">Quantity (qty)</th>
                <th class="text-center">Per Item cost</th>
                <th class="text-center">Total Cost</th>
            </tr>
        </thead>
        <tbody id="dynamicTable">
            <!-- Table rows will be added here -->
        </tbody>
    </table>
    <!-- align table left -->
    <table class="table table-bordered" style="float: right; width: 50%;">
        <tr>
            <td colspan="3" class="text-center" style="font-weight: bold;">Total Cost</td>
            <td class="text-center" style="font-weight: bold;"><%- TotalPrice %></td>
        </tr>
        <tr>
            <td colspan="3" class="text-center" style="font-weight: bold;">promo code</td>
            <td class="text-center" style="font-weight: bold;"><%- Promocode %></td>
        </tr>
        <tr>
            <td colspan="3" class="text-center" style="font-weight: bold;">Sales Tax</td>
            <td class="text-center" style="font-weight: bold;"><%- Sales %></td>
        </tr>
        <tr class="table-active">
            <td colspan="3" class="text-center" style="font-weight: bold;">Total Cost</td>
            <td class="text-center" style="font-weight: bold;"><%- FinalPrice %></td>
        </tr>
        </tbody>
    </table>
    
    <form id="payment-form" class="col-md-3 text-center mx-auto">
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
    <br> <br>
    <script>
        function moveToCart()
        {
            window.history.back();
        }
        document.addEventListener('DOMContentLoaded', () => {
            const dynamicTable = document.getElementById('dynamicTable');
            let rowCounter = 0;
    
            var cartDetails = <%- JSON.stringify(cartDetails) %>;
            cart_row_reference = [];
            for (const itemData of cartDetails) {
                rowCounter++;
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <tr>
                        <td class="w-25 text-center">
                            <label for="item${rowCounter}">${itemData.name}</label>
                        </td>
                        <td class="w-25 text-center">
                            <label for="item${rowCounter}">${itemData.quantity}</label>
                        </td>
                        <td class="w-25 text-center">
                            <label for="item${rowCounter}">${itemData.price}</label>
                        </td>
                        <td class="w-25 text-center">
                            <label for="item${rowCounter}">${itemData.totalPrice}</label>
                        </td>
                    <tr>
                `;
                dynamicTable.appendChild(newRow);
            }
    
            // const checkoutButton = document.getElementById('checkout');
            // checkoutButton.addEventListener('click', function () {


            //     // get card details
            //     const cardNumber = document.getElementById('cardNumber').value;
            //     const cardName = document.getElementById('cardName').value;
            //     const cardExpiry = document.getElementById('cardExpiry').value;
            //     const cardCVV = document.getElementById('cardCVV').value;

            //     //AJAX call to send data to server
            //     const xhr = new XMLHttpRequest();
            //     xhr.open('POST', '/cart/checkout');
            //     xhr.setRequestHeader('Content-Type', 'application/json');
                

            //     xhr.send(JSON.stringify({
            //         cardNumber: cardNumber,
            //         cardName: cardName,
            //         cardExpiry: cardExpiry,
            //         cardCVV: cardCVV,
            //     }));
            // });
        });
    </script>
        
</body>
</html>