

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>

<h1 class="text-primary text-center mx-auto">Order Details</h1>
<div>
    <ul class="nav">
        <li class="nav-item">
            <form action="/item-listing" method="get">
                <button type="submit" class="btn btn-primary">
                    Home
                </button>
            </form>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <form action="/users/get-purchase-history" method="get">
                <button type="submit" class="btn btn-primary">
                    Go Back to Purchase History Page
                </button>
            </form>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <form action="/users/return-order" name="returnForm" method="get">
                <input type="hidden" name="orderId" value="<%= order.orderId %>">
                <button type="button" class="btn btn-primary" onclick="returnOrder()">
                    Return Order
                </button>
            </form>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </ul>
</div>
<% if (order) { %>
    <table class="table table-bordered">
        <thead>
        <tr  class="table-primary">
            <th class="w-15 text-center">Purchase ID</th>
            <th class="w-15 text-center">Order ID</th>
            <th class="w-15 text-center">Listing ID</th>
            <th class="w-15 text-center">Name</th>
            <th class="w-15 text-center">Purchase Date</th>
            <th class="w-15 text-center">Total Price</th>
            <th class="w-15 text-center">Payment ID</th>
            <th class="w-15 text-center">Shipment ID</th>
            <th class="w-15 text-center">Tracking ID</th>
            <th class="w-15 text-center">Quantity</th>
            <th class="w-15 text-center">Total Cost of Item</th>
            <th class="w-15 text-center">Return Status</th>
        </tr>
        </thead>
        <tr>
            <td class="w-15 text-center"><%= order.purchaseId %></td>
            <td class="w-15 text-center"><%= order.orderId %></td>
            <td class="w-15 text-center"><a href="http://localhost:3000/item-listing/catalog?item-id=<%= order.listingId %>" ><%= order.listingId %></a></td>
            <td class="w-15 text-center"><%= order.name %></td>
            <td class="w-15 text-center"><%= order.purchase_date %></td>
            <td class="w-15 text-center"><%= order.total_price %></td>
            <td class="w-15 text-center"><%= order.paymentId %></td>
            <td class="w-15 text-center"><%= order.shipmentId %></td>
            <td class="w-15 text-center"><a href="<%= order.trackerUrl %>" ><%= order.trackingId %></a></td>
            <td class="w-15 text-center"><%= order.quantity %></td>
            <td class="w-15 text-center"><%= order.total_cost_of_item %></td>
            <td class="w-15 text-center"><%= order.order_status %></td>
            <td class="w-15 text-center">

            </td>
        </tr>
    </table>
<% } else { %>
    <p>No order details available.</p>
<% } %>
<script>
    function returnOrder() {
        var txt;
        if (confirm("Are you sure you want to return ?")) {
            document.forms['returnForm'].submit();
        } else {
            // do nothing
        }
    }
</script>
</body>
</html>
